<banner></banner>

<div class="contain mt-3 mb-5 p-4">
	<!-- trending movies  -->
	<div class="row">
		<h5 class="text-white">Trending Movies</h5>
		<movie-list [MovieList]="trendingMovies"></movie-list>
	</div>

	<!-- action movies  -->
	<div class="row mt-4">
		<h5 class="text-white">Action Movies</h5>
		<movie-list [MovieList]="actionMovies"></movie-list>
	</div>

	<!-- adventure movies  -->
	<div class="row mt-4">
		<h5 class="text-white">adventure Movies</h5>
		<movie-list [MovieList]="adventureMovies"></movie-list>
	</div>

	<!-- animation movies  -->
	<div class="row mt-4">
		<h5 class="text-white">Animation Movies</h5>
		<movie-list [MovieList]="animationMovies"></movie-list>
	</div>

	<!-- comedy movies  -->
	<div class="row mt-4">
		<h5 class="text-white">Comedy Movies</h5>
		<movie-list [MovieList]="comedyMovies"></movie-list>
	</div>

	<!-- documentary movies  -->
	<div class="row mt-4">
		<h5 class="text-white">Documentary Movies</h5>
		<movie-list [MovieList]="documentaryMovies"></movie-list>
	</div>

	<!-- science-fiction movies  -->
	<div class="row mt-4">
		<h5 class="text-white">Science-Fiction Movies</h5>
		<movie-list [MovieList]="sciencefictionMovies"></movie-list>
	</div>

	<!-- thriller movies  -->
	<div class="row mt-4">
		<h5 class="text-white">Thriller Movies</h5>
		<movie-list [MovieList]="thrillerMovies"></movie-list>
	</div>
</div>